<div class="d-flex justify-content-center space-between-even" >

    <div class="d-flex">
    <h1> Intern Group Project</h1>
    </div>


    <div class="d-flex">
    <h1> HomePage </h1>
    </div>
</div>
