<div class="d-flex justify-content-center space-between-even" >
    <div class="d-flex">
    <h1> Intern Group Project</h1>
    </div>
</div>

<div class="row">
    <div class="col-3 border border-2 border-dark">
        <div>
            <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Global Demand</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Home Solutions</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-9" style="background-color: blue;">col-8</div>
</div>